
.home_bg_cont {
    background-image: url("https://i.pinimg.com/474x/c2/13/c1/c213c15cfd740c3a923f96d7d8397df1.jpg");
    background-size: cover;
    height: 100vh;
    width: auto;
    padding: 10px;
}

.image {
    height: 100px;
    width: auto;
    margin: 10px;
    border-radius: 60px;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
}

.home_header {
    font-family: "cursive";
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

.home_buttons {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.home_button {
    margin: 10px;
    border-radius: 10px;
    background-color: silver;
    color: black;
    font-weight: bold;
}

.home_bg_cont2 {
    background-image: url("https://i.pinimg.com/474x/81/f4/66/81f4661ddd868aa233f4be477ea88bbf.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.home_header_1 {
    font-family: "Caveat";
    font-weight: bold;
    color: white;
}

.home_para_1 {
    font-family: "Caveat";
    font-weight: bold;
    color: white;
    font-size: 28;
}

.about {
    background-image: url("https://i.pinimg.com/474x/6e/6b/cb/6e6bcb8cb5e505db49cb7580d943c44a.jpg");
    background-size: cover;
    height: 100vh;
}

.about_header {
    font-family: "Caveat";
    font-weight: bold;
    text-decoration: underline;
    padding: 1px;
    color: black;
    margin: 10px;
}

.about_para {
    font-family: "cursive";
    font-size: 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    margin: 1px;
}

.resume_bg {
    background-color: white;
    background-size: cover;
    height: 100vh;
}

.resume_head {
    border-style: double;
    border-width: thick;
    border-color: black;
}

.text_box1 {
    margin: 10px;
    padding: 10px;
}

.resume_header {
    font-weight: bold;
    font-size: 28px;
    margin: 5px;
    padding: 5px;
    text-decoration: underline;
}

.rt_header {
    background-color: yellow;
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
    margin: 2px;
}

.t_pad {
    padding: 1px;
}

.re_header {
    font-weight: bold;
    font-size: 24px;

}

.para {
    font-weight: bold;
}

.p_bg {
    background-color: #c79a58;
    background-size: cover;
    color: black;
    padding: 10px;
}

/*#0d2436*/
.p_fbox_header {
    color: white;
    font-family: "Caveat";
    font-weight: bold;
}

.p_frst_box {
    margin: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

.p_header {
    font-family: "Caveat";
    color: black;
    font-weight: bold;
}

.p_para {
    font-family: "Serif";
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.p_txt_card {
    border-style: groove;
    border-color: silver;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.p_lst_header {
    font-family: "Caveat";
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.wcu-section {
    background-color: lightblue;
    height: auto;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Caveat";
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    text-align: center;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: blue;
    font-family: "Roboto";
    font-size: 16px;
    text-decoration: underline;
}
