@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home_bg_cont {
    background-color: #c79a58;
    height: 100vh;
    width: 30vw;
    padding: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 60px;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
}

.home_header {
    text-align: center;
    font-family: cursive;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
}

.home_button {
    height: auto;
    width: auto;
    margin: 10px;
    border-radius: 10px;
    background-color: silver;
}

.home_bg_cont2 {
    background-image: url("https://i.pinimg.com/474x/d5/c9/74/d5c974a00e9ddcdc6fb6c06ecdd5a01d.jpg");
    background-size: cover;
    height: auto;
    width: 100vw;
    color: black;

}

.h_header {
    font-family: "Roboto";
    color: black;
    font-weight: bold;
    margin: 10px;
}

.h_para {
    font-family: "Roboto";
    color: black;
    font-size: 30px;
    font-weight: 100;
}

.about {
    background-image: url("https://i.pinimg.com/564x/a9/45/9f/a9459fda6eff97eb2b335dc27b13db4c.jpg");
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}

.about_header {
    font-family: "Caveat";
    font-size: 28px;
    padding: 10px;
    color: black;
    margin: 10px;
}

.about_para {
    font-family: "cursive";
    font-size: 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    margin: 10px;
}

.resume_bg {
    background-color: white;
    background-size: cover;
    height: auto;
}

.resume_head {
    border-style: double;
    border-width: thick;
    border-color: black;
}

.text_box1 {
    margin: 10px;
    padding: 10px;
}

.resume_header {
    font-weight: bold;
    font-size: 28px;
    margin: 5px;
    padding: 5px;
    text-decoration: underline;
}

.rt_header {
    background-color: yellow;
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
    margin: 2px;
}

.t_pad {
    padding: 1px;
}

.re_header {
    font-weight: bold;
    font-size: 24px;

}

.para {
    font-weight: bold;
}

.p_bg {
    background-color: #8ecbe8;
    background-size: cover;
    color: black;
    padding: 10px;
}

/*#0d2436*/
.p_fbox_header {
    color: white;
    font-family: "Caveat";
    font-weight: bold;
}

.p_frst_box {
    margin: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

.p_header {
    font-family: "Caveat";
    color: black;
    font-weight: bold;
}

.p_para {
    font-family: "Serif";
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.p_txt_card {
    border-style: groove;
    border-color: silver;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
}

.p_lst_header {
    font-family: "Caveat";
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.wcu-section {
    background-color: lightblue;
    height: 100vh;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Caveat";
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    text-align: center;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: blue;
    font-family: "Roboto";
    font-size: 16px;
    text-decoration: underline;
}
